/* ===== CSS RESET - СБРОС ВСЕХ СТИЛЕЙ ===== */

/* Убираем все отступы и границы */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Сброс для HTML и Body */
html, body {
    height: 100%;
    font-size: 100%;
    line-height: 1;
}

/* Убираем стили списков */
ul, ol {
    list-style: none;
}

/* Сброс для ссылок */
a {
    text-decoration: none;
    color: inherit;
}

/* Сброс для кнопок */
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    border: none;
    background: none;
}

/* Сброс для изображений */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Сброс для заголовков */
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* Сброс для таблиц */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ===== БАЗОВЫЕ СТИЛИ ===== */

body {
    font-family: 'Roboto', Arial, sans-serif;
}

/* Header */
.header {
    position: relative;
    width: 100%;
    background: #E1EDE6;
}

.nav {
    position: relative;
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0;
}

.logo {
    position: absolute;
    left: 165px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 143px;
    height: 35px;
}

.logo img {
    width: 35px;
    height: 35px;
}

.logo a {    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #598D66;
}

.nav-menu {
    position: absolute;
    right: 165px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
    width: 470px;
    height: 24px;
}

.nav-menu a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2C2D35;
    display: flex;
    align-items: center;
}

.nav-menu a:hover {
    color: #598D66;
}

.cart-button {
    position: absolute;
    right: 165px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 24px;
    height: 24px;
}

.cart-button img {
    width: 24px;
    height: 24px;
}

/* Hero Section */
.container {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 165px;
    gap: 30px;
}

.container-img {
    width: 540px;
    height: 621px;
    flex-shrink: 0;
}

.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Отражение по горизонтали */
}

.container-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 540px;
    height: 331px;
}

.container-info h1 {
    width: 540px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 110%;
    color: #2C2D35;
}

.container-info h1 .green-text {
    color: #598D66;
}

.container-info p {
    width: 540px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #86928B;
}

.primary-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    width: 225px;
    height: 65px;
    border: 1px solid #598D66;
    cursor: pointer;
    background: transparent;
}

.primary-btn:hover {
    background: #598D66;
}

.primary-btn:hover span {
    color: #FFFFFF;
}

.primary-btn span {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #598D66;
}

.catalog{
    position: relative;
    width: 1110px;
    margin: auto;
    margin-top: 70px;
}

.catalog-header{
    width: 1110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.catalog-title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
}

.catalog-title h1 {
    width: 255px;
    height: 44px;
    color: #2C2D35;
    margin: 0;
}

.catalog-lang{
    display: flex;
}

.lang-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 428px;
    height: 43px;
    list-style: none;
}

.lang-list li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 20px;
    height: 43px;
    background: #D4E8D9;
    border-radius: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2C2D35;
    cursor: pointer;
}

.lang-list li:first-child {
    background: #376B44;
    color: #F4F6F5;
}

.lang-list li:hover {
    background: #376B44;
    color: #F4F6F5;
}



.card{
    position: relative;
    width: 350px;
    height: 730px;
    background: #E1EDE6;
    flex: none;
}

.card-img{
    position: absolute;
    height: 422px;
    left: 20px;
    right: 20px;
    top: 20px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

/* Автор картины */
.card-author {
    position: absolute;
    width: 133px;
    height: 21px;
    left: 20px;
    top: 462px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #86928B;
}

/* Название картины */
.card-title {
    position: absolute;
    width: 310px;
    height: 35px;
    left: 20px;
    top: 493px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #2C2D35;
    margin: 0;
}

/* Материал и размер */
.card-material {
    position: absolute;
    height: 21px;
    left: 20px;
    right: 20px;
    top: 536px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #2C2D35;
}

/* Цена */
.card-price {
    position: absolute;
    width: 122px;
    height: 28px;
    left: 20px;
    bottom: 115px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #598D66;
}

/* Кнопка в корзину */
.secondary-btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 30px;
    border: 1px solid #598D66;
    background: transparent;
    cursor: pointer;
}

.secondary-btn span {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #598D66;
}

.secondary-btn:hover {
    background: #598D66;
}

.secondary-btn:hover span {
    color: #F4F6F5;
}

.promo{
    position: relative;
    margin: 70px auto 0;
    width: 1440px;
    height: 574px;
    overflow: hidden;
}

.ad-img{
    position: absolute;
    width: 1440px;
    height: 574px;
    left: 0px;
    top: 0px;
    object-fit: cover;
    transform: scaleX(-1);
}

/* Размытый синий overlay */
.promo::before {
    content: '';
    position: absolute;
    width: 1004px;
    height: 687px;
    left: -238px;
    top: -57px;
    background: rgba(13, 43, 67, 0.8);
    mix-blend-mode: multiply;
    filter: blur(157.5px);
    z-index: 1;
}

/* Soft-light overlay */
.promo::after {
    content: '';
    position: absolute;
    width: 1440px;
    height: 574px;
    left: 0px;
    top: 0px;
    background: url('../img/background.png');
    background-size: cover;
    mix-blend-mode: soft-light;
    opacity: 0.7;
    z-index: 1;
}


/* Header with star and title */
.promo-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    position: absolute;
    width: 521px;
    height: 80px;
    left: 165px;
    top: 70px;
    z-index: 2;
}

/* Star icon */
.promo-star {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    flex: none;
    background-image: url('../img/Star 2.png');
    background-size: cover;
    background-position: center;
}

/* Title */
.promo-title {
    width: 421px;
    height: 80px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: #F4F6F5;
    flex: none;
    margin: 0;
}

/* Description text */
.promo-text {
    position: absolute;
    width: 540px;
    height: 209px;
    left: 165px;
    top: 170px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    z-index: 2;
}

/* Promo button */
.promo-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    position: absolute;
    width: 257px;
    height: 65px;
    left: 165px;
    top: 439px;
    background: #EEDB6D;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.promo-btn span {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2C2D35;
}

.promo-btn:hover {
    background: #E5D25E;
}

/* Team Section */

/* Frame 256 */
.team-catalogue{
    position: relative;
    width: 1110px;
    height: 440px;
    margin: 70px auto 0;
}

/* Group 210 */
.team-picture{
    position: relative;
    width: 445px;
    height: 440px;
}

/* 59a6e3f6621f515e33ea7a82 1 */
.team-img {
    position: absolute;
    width: 361px;
    height: 445px;
    left: 0px;
    bottom: 320px;
    object-fit: cover;
    transform: rotate(90deg);
    transform-origin: bottom left;
}

/* Layer 1 1 */
.team-img-brush {
    position: absolute;
    width: 269px;
    height: 397px;
    left: 48px;
    bottom: 2px;
    object-fit: cover;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Frame 255 */
.team-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 635px;
    left: 475px;
    top: 124px;
}

/* Frame 253 */
.team-info h1,
.team-info p {
    width: 635px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Наша команда */
.team-info h1 {
    height: 44px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    color: #2C2D35;
    margin: 0;
}

/* Текст */
.team-info p {
    height: 108px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #2C2D35;
    margin: 0;
}

/* Frame 254 */
.team-avatar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 300px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Ellipse 30, 31, 32 */
.team-avatar div {
    width: 80px;
    height: 80px;
    background: #C4C4C4;
    border-radius: 50%;
    flex: none;
    flex-grow: 0;
    overflow: hidden;
}

.team-avatar div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Footer Section */
/* Footer Section */

.footer{
    position: relative;
    width: 1440px;
    height: 168px;
    margin: 140px auto 0;
    background: #E1EDE6;
}

/* Frame 85 - Logo */
.footer-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 143px;
    height: 35px;
    left: 165px;
    top: 23px;
}

.footer-icon img {
    width: 35px;
    height: 35px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer-icon a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #598D66;
    text-decoration: none;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Frame 257 - Contact Info */
.footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 170px;
    height: 52px;
    left: 165px;
    top: 93px;
}

/* +7 (999) 543-54-54 */
.footer-phone {
    width: 170px;
    height: 23px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2C2D35;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Мастерская */
.footer-workshop {
    width: 104px;
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #86928B;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Frame 134 - Main Navigation */
.footer-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
    position: absolute;
    width: 445px;
    height: 122px;
    right: 545px;
    top: 23px;
}

/* Frame 259, 260, 261 - Columns */
.footer-country,
.footer-updates,
.footer-jobs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
}

.footer-country {
    width: 128px;
    height: 122px;
}

.footer-updates,
.footer-jobs {
    width: 108px;
    height: 89px;
}

.footer-country ul,
.footer-updates ul,
.footer-jobs ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    list-style: none;
    margin: 0;
}

.footer-country li:first-child,
.footer-updates li:first-child,
.footer-jobs li:first-child {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #2C2D35;
}

.footer-country li,
.footer-updates li,
.footer-jobs li {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #86928B;
}

/* Frame 263 - Social & Rights */
.footer-social-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 132px;
    height: 68px;
    left: 1143px;
    top: 23px;
}

/* Frame 258 - Social Icons */
.footer-social {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 132px;
    height: 24px;
}

.footer-social img {
    width: 24px;
    height: 24px;
    flex: none;
    flex-grow: 0;
}

/* Frame 262 - Rights */
.footer-rights {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: 132px;
    height: 34px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: #86928B;
}


